{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- css links -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- header -->
    <header>
        <!-- logo -->
        <div id="logo"><a href="index.html">
                <\>SunByte

            </a></div>

        <!-- login button -->
        <div id="login-btn">
            <a href="./login.html">Login</a>
        </div>

        <!-- signup button -->
        <div id="signup-btn">
            <a href="./signup.html">Sign up</a>
        </div>
    </header>

    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- hero section -->
    <section id="hero">
        <span id="welcome-text">Welcome to</span>
        <img id="hero-logo" src="./images/logo.png"
            alt="Sunbyte Quiz" />
        <div id="text"></div>
    </section>

        <!-- contact section -->
    <section id="contact-section">
        <h2>Contact Us</h2>
        <div id="mail-phone">
            <span>📞 +977 9866153193</span>
            <span>📧 info@sunbytequizzes.com</span>
        </div>
        <div id="social-media">
            <a href="https://www.facebook.com/bobby.sunar.3114"><img src="./images/facebook.png" alt="facebook"
                    class="contact-img" title="click to connect"
                    style="background-color: rgba(12, 103, 188, 0.801);"></a>
            <a href="https://www.linkedin.com/in/babi-sunar-17aa64287"><img src="./images/linkedin.png" alt="linkedin"
                    class="contact-img" title="click to connect" style="background-color: rgb(9, 104, 176);"></a>
            <a href="https://wa.me/9779866153193"><img src="./images/whatsapp.png" alt="whatsapp" class="contact-img"
                    title="click to connect" style="background-color: rgba(3, 131, 20, 0.758);"></a>
            <a href="https://github.com/Babi-Sunar"><img src="./images/git.png" alt="instagram" class="contact-img"
                    title="click to connect" style="background-color: antiquewhite;"></a>
    </section>

    <!-- java script -->
    <script src="./js/script.js"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#text', {
            strings: ['Your Ultimate Quiz Destination...', 'Challenge Your Knowledge.', 'Discover New Horizons...', 'Join the Fun Today!'],
            typeSpeed: 50
        });
    </script>
</body>

</html>