{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>

    <link rel="stylesheet" href="{% static 'quizapp/css/question_form.css' %}">
</head>

<body>

    <div class="container">

        <h1>Add Question</h1>

        <p class="session-name" style="text-shadow: rgba(0,0,0,.16) 0 3px 6px,rgba(0,0,0,.23) 0 3px 6px;">
            Session: {{ session.title }}
        </p>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Question Type -->
            <p class="label">
                {{ form.question_type.label }}<br>
                {{ form.question_type }}
            </p>

            <!-- Question -->
            <p class="label">
                {{ form.text.label }} (required)<br>
                {{ form.text }}
            </p>

            <!-- Question Image -->
            <p class="label">
                {{ form.image.label }} (optional)<br>
                {{ form.image }}

                <button type="button" id="clearImageBtn" onclick="clearFileInput('id_image', 'clearImageBtn')" style="
            display: none;
            margin-top: 8px;
            padding: 7px 12px;
            background: #ff4d4d;
            color: white;
            border: none;
            border-radius: 7px;
            font-size: 12px;
            font-weight: 600;
            cursor: pointer;
        ">
                    ✕ Remove Image
                </button>
            </p>

            <!-- Marks -->
            <p class="label">
                {{ form.marks.label }} (optional)<br>
                {{ form.marks }}
            </p>

            <!-- Time -->
            <p class="label">
                {{ form.time_limit_seconds.label }} (optional)<br>
                {{ form.time_limit_seconds }}
            </p>

            <!-- ================================= -->
            <!-- Multiple Choice (4 Options) -->
            <!-- ================================= -->

            <div id="choice-section">

                {{ formset.management_form }}

                {% for choice_form in formset %}

                <div class="choice-row">

                    <h3>
                        {% if forloop.counter == 1 %}
                        Option A
                        {% elif forloop.counter == 2 %}
                        Option B
                        {% elif forloop.counter == 3 %}
                        Option C
                        {% elif forloop.counter == 4 %}
                        Option D
                        {% endif %}
                    </h3>

                    <p class="label">
                        {{ choice_form.text }}
                    </p>

                    <p class="label">
                        {{ choice_form.image }}

                        <button type="button" class="clear-choice-image-btn" style="
            display: none;
            margin-top: 8px;
            padding: 7px 12px;
            background: #ff4d4d;
            color: white;
            border: none;
            border-radius: 7px;
            font-size: 12px;
            font-weight: 600;
            cursor: pointer;
        ">
                            ✕ Remove Image
                        </button>
                    </p>

                    <label class="correct-label">
                        {{ choice_form.is_correct }}
                        Correct Answer
                    </label>

                </div>

                {% if not forloop.last %}
                <hr>
                {% endif %}

                {% endfor %}

            </div>

            <!-- ================================= -->
            <!-- True / False -->
            <!-- ================================= -->

            <div id="tf-section">

                {{ tf_form.as_p }}

            </div>

            <button type="submit">
                Save Question
            </button>

        </form>

    </div>

    <script>

        document.addEventListener("DOMContentLoaded", function () {

            const type = document.getElementById("id_question_type");
            const choiceSection = document.getElementById("choice-section");
            const tfSection = document.getElementById("tf-section");

            const tfInputs = tfSection.querySelectorAll("input");
            const choiceInputs = choiceSection.querySelectorAll("input, textarea, select");

            function updateQuestionType() {

                if (type.value === "true_false") {

                    choiceSection.style.display = "none";
                    tfSection.style.display = "block";

                    tfInputs.forEach(input => input.disabled = false);
                    choiceInputs.forEach(input => input.disabled = true);

                } else {

                    choiceSection.style.display = "block";
                    tfSection.style.display = "none";

                    tfInputs.forEach(input => input.disabled = true);
                    choiceInputs.forEach(input => input.disabled = false);

                }

            }

            updateQuestionType();

            type.addEventListener("change", updateQuestionType);

        });

        // unselect image 


        document.addEventListener("DOMContentLoaded", function () {

            const imageInput = document.getElementById("id_image");
            const clearButton = document.getElementById("clearImageBtn");

            imageInput.addEventListener("change", function () {

                if (this.files && this.files.length > 0) {
                    clearButton.style.display = "inline-block";
                } else {
                    clearButton.style.display = "none";
                }

            });

        });


        document.addEventListener("DOMContentLoaded", function () {

            document.querySelectorAll(
                'input[type="file"]'
            ).forEach(function (input) {

                // Only handle answer image inputs
                if (!input.name.includes("image")) {
                    return;
                }

                const button = input
                    .parentElement
                    .querySelector(".clear-choice-image-btn");

                if (!button) {
                    return;
                }

                // Show button when image is selected
                input.addEventListener("change", function () {

                    if (this.files && this.files.length > 0) {
                        button.style.display = "inline-block";
                    } else {
                        button.style.display = "none";
                    }

                });


                // Clear selected image
                button.addEventListener("click", function () {

                    input.value = "";

                    button.style.display = "none";

                });

            });

        });



        function clearFileInput(inputId, buttonId) {

            const input = document.getElementById(inputId);
            const button = document.getElementById(buttonId);

            input.value = "";
            button.style.display = "none";
        }


    </script>

</body>

</html>