<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signup.css">
    <title>Sign-up</title>
</head>

<body>


    <h2>Sign Up</h2>

    <form id="signupForm" action="#" method="post">
        <div id="input-section">
            <!-- username -->
            <label id="username-label" class="input-label" for="username">Username:</label>
            <input class="input-field"  type="text" id="username" name="username" placeholder="Username" required><br>
            <!-- email -->
            <label class="input-label"  id="email-label" for="email">Email:</label>
            <input class="input-field"  type="email" id="email" name="email" placeholder="E-mail"  required><br>
            <!-- password -->
            <label class="input-label"  id="password-label" for="password">Password:</label>
            <input class="input-field"  type="password" id="password" name="password" placeholder="Password" autocomplete="new-password" required><br>
            <!--conform password -->
            <label class="input-label"  id="conformPassword-label" for="conformPassword">Conform Password:</label>
            <input class="input-field"  type="password" id="conformPassword" name="conformPassword" placeholder="conform Password" autocomplete="new-password" required><br>

            <!-- signup button -->
            <div id="signup-btn-container">
                <button id="signup-btn" type="submit">Sign up</button><br><br>
            </div>
        </div>

        <br><br>
        <div id="signup-options">
            <!-- do not have account -->
            <p style="color: rgb(236, 206, 172);text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            ">Already have an account? <a href="login.html"
                    style="color: #cc9d04;text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">Login</a></p>
        </div>
    </form>

    <!-- script -->
    <script src="../js/signup.js"></script>
</body>

</html>